* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --primary-blue: rgb(0, 0, 255);
  --secondary-orange: #f44336;

  --text-primary-light: rgb(70, 70, 70);
  --text-primary-dark: white;

  --text-secondary-light: rgb(70, 70, 70);
  --text-secondary-dark: rgb(160, 160, 160);

  --bg-primary-light: white;
  --bg-primary-dark: #222;

  --bg-secondary-light: #EEEEEE;  
  --bg-secondary-dark: #313131;

  --bg-navbar-light: rgb(104, 104, 255);
  --bg-navbar-dark: rgb(29, 29, 58);

  --primary-color-dark: color(#f44336 shade(12%));
}

.light-theme {
  --text-primary: var(--text-primary-light);
  --text-secondary: var(--text-secondary-light);
  --bg-primary: var(--bg-primary-light);
  --bg-secondary: var(--bg-secondary-light);
  --bg-navbar: var(--bg-navbar-light);
}

.dark-theme {
  --text-primary: var(--text-primary-dark);
  --text-secondary: var(--text-secondary-dark);
  --bg-primary: var(--bg-primary-dark);
  --bg-secondary: var(--bg-secondary-dark);
  --bg-navbar: var(--bg-navbar-dark);
}

.App {
  min-height: 100vh;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



::placeholder {
  background-color: var(--bg-primary);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-track {
  background: var(--bg-secondary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg-primary);
  border-radius: 10px;
}

/* Handle on hover*/
::-webkit-scrollbar-thumb:hover {
  background-color:  	#a39cf1;
  cursor: pointer;
}